@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: OpenSans;
    src: url('/fonts/OpenSans-Regular.ttf');
  }

  *{
    font-family: OpenSans;
  }
  .sizing {
    @apply w-[6rem] h-[8rem] sm:w-[10rem] sm:h-[12rem] md:w-[16rem] md:h-[20rem] lg:w-[16rem] lg:h-[20rem] xl:w-[16rem] xl:h-[20rem] bg-cover bg-no-repeat;
  }